# {{ ansible_managed }}
# GitHub deploy key configuration
Host github.com
  HostName github.com
  User git
  IdentityFile /home/{{ service_account }}/.ssh/deploy-key
  IdentitiesOnly yes
  StrictHostKeyChecking accept-new
